.catalogue {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 102px;
  z-index: 10;
  background: #fff;

  &__inner {
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    padding: 20px 15px;
  }

  @include respond-to-min($tablet) {
    top: 80px;
  }

  /** appearance **/
  .bmenu {
    font-size: 14px;
  }

  nav.bmenu {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 1.25rem 0 1.25rem 1.25rem;
    max-width: fit-content;
    box-sizing: border-box;
    height: 100%;
  }

  nav.bmenu a:link,
  nav.bmenu a:visited {
    color: inherit;
    text-decoration: none;
  }

  nav.bmenu > * {
    vertical-align: top;
  }

  nav.bmenu > a {
    float: left;
    clear: both;
    width: 270px;
  }

  .bmenu header {
    display: block;
    font-weight: bold;
    margin: 0;
    height: 2em;
    line-height: 2em;
  }

  nav.bmenu article.panel::before {
    content: "";
    display: block;
    z-index: 2000;
    width: 0;
    border-left: 1px solid white;
    border-color: inherit;
    position: absolute;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
  }

  nav.bmenu a {
    position: relative;
    display: block;
    padding: 10px 30px;
    min-width: 270px;
    color: #878787;
    line-height: 1.167;
    cursor: pointer;
    transition: background .3s, color .3s;

    &:hover {
      color: #fff;
      background: $main_blue;
    }
  }

  nav.bmenu article.panel {
    display: none;
    position: relative;
  }

  nav.bmenu article.panel section.titled-group {
    min-width: 160px;
  }

  nav.bmenu section.titled-group:not(:first-of-type) {
    margin-top: 2em;
  }

  nav.bmenu div.column {
    min-width: 270px;
  }

  label.bmenu.toggle {
    display: inline-block;
    padding: 0 0.75rem;
    border: 1px solid black;
  }

  .hidden {
    display: none;
  }

  /** behaviour **/
  .bmenu a,
  label.bmenu {
    cursor: pointer;
  }

  article.panel {
    display: none;
  }

  @for $i from 1 through 12 {
    nav.bmenu > a:nth-of-type(#{$i}) {
      &:hover,
      &:focus {
        ~ article.panel:nth-of-type(#{$i}) {
          display: inline-flex;
        }
      }
    }

    nav.bmenu > a:hover:not(.no-panel) ~ a:focus:nth-of-type(#{$i}) ~ article.panel:nth-of-type(#{$i}),
    nav.bmenu > a:focus:nth-of-type(#{$i}) ~ a:hover:not(.no-panel) ~ article.panel:nth-of-type(#{$i}) {
      display: none;
    }

    nav.bmenu > a:nth-of-type(#{$i}):focus ~ article.panel:hover ~ article.panel:nth-of-type(#{$i}) {
      display: none;
    }
  }

  nav.bmenu > article.panel:hover {
    display: inline-flex;
  }

  nav.bmenu > article.panel:hover ~ article.panel {
    display: none;
  }

  nav.bmenu > a:not(.no-panel):hover::before,
  nav.bmenu > a:not(.no-panel):focus::before {
    content: "";
    position: absolute;
    z-index: 1000;
    display: block;
    left: -1.25rem;
    top: 0;
    height: 100%;
    width: 0.3em;
    background-color: white;
  }

  nav.bmenu > a:not(.no-panel)::after {
    //content: "";
    position: absolute;
    z-index: 1000;
    display: block;
    height: 0.5em;
    width: 0.5em;
    border: 1px solid grey;
    border-bottom: 0;
    border-left: 0;
    /* centered vertically and pointing right */
    /* just maths, bitches, MATHS */
    right: calc(0.5 * 0.5em + 1.25em);
    top: calc(50% + 0.5 * 0.5 * 0.5em);
    -ms-transform: rotate(45deg) translate(-50%, -50%);
    -webkit-transform: rotate(45deg) translate(-50%, -50%);
    transform: rotate(45deg) translate(-50%, -50%);
  }

  nav.bmenu.animated > a::after {
    transition: border-color 0.2s ease;
  }

  /** triangular hover regions **/
  nav.bmenu.panel > a {
    position: relative;
  }

  nav.bmenu.panel > a > span.triangle-origin {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  nav.bmenu.panel > a > span.triangle-origin:hover::after {
    background: transparent;
    z-index: 1001;
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
    right: -300px;
    top: 0;
    content: "";
    /**
    outline: 1px solid lime;
    **/
    -ms-transform: rotate(-45deg) skew(20deg, 20deg) translate(0, -100%);
    -webkit-transform: rotate(-45deg) skew(20deg, 20deg) translate(0, -100%);
    transform: rotate(-45deg) skew(20deg, 20deg) translate(0, -100%);
  }

  nav.bmenu.panel > article.panel {
    position: relative;
    z-index: 1002;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 270px;
  }

  /** specific cross browser **/
  @supports (-ms-ime-align: auto) {
    nav.bmenu.panel {
      display: table;
    }
    nav.bmenu.animated > a::after {
      transition: 0s;
    }
  }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    nav.bmenu.panel {
      display: table;
    }
    nav.bmenu.animated > a::after {
      transition: 0s;
    }
  }

  &__list {
    display: none;
    flex: 0 0 270px;
    flex-flow: column nowrap;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    @for $i from 1 through 12 {
      &[data-col="#{$i}"] {
        order: $i;
      }
    }

    &:hover,
    &.__show {
      display: inline-flex;
    }

    &.__level-0 {
      //display: inline-flex;
      //flex-flow: column nowrap;
      //overflow-y: hidden;
      //overflow-x: auto;
    }

    &-link {
      text-decoration: none;
      position: relative;
      display: block;
      padding: 10px 30px;
      min-width: 270px;
      color: #878787;
      line-height: 1.167;
      cursor: pointer;
      transition: background .3s, color .3s;

      &.__active {
        background: #f6f6f6;
      }

      &:hover {
        color: #fff;
        background: $main_blue;
      }
    }

    &-item {
      position: relative;

      .catalogue__list {
        position: absolute;
        left: 100%;
      }

      &:hover {
        .catalogue__list {
          display: block;
        }
      }
    }
  }

}
