.search {

  &-results {
    padding: 10px 0;
    font-size: 12px;

    &__cart {
      position: relative;
      width: 100%;

      .search-results__add {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    &__item {
      display: block;
      cursor: pointer;

      + .search-results__item {
        margin-top: 2px;
      }
    }

    &__table {
      display: flex;
      flex-flow: column nowrap;
    }

    &__row {
      padding: 16px 10px;
      border-radius: 4px;
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      justify-content: stretch;
      align-items: center;
      transition: background .3s;

      &.__head {
        white-space: nowrap;
      }

      &.__even {
        background: $main_gray_light;
      }

      &.__odd {
        background: #fff;
      }

      @include respond-to-max($wide) {
        //flex-wrap: wrap;
        //justify-content: space-between;
        //padding-right: 140px;

        display: grid;
        grid-template-areas:
          "item_1 norm_1 term_1 price_1 total_1 cart_1 "
          "item_2 norm_2 term_2 price_2 total_2 cart_2 "
          "item_3 norm_3 term_3 price_3 total_3 cart_3 "
          "item_4 norm_4 term_4 price_4 total_4 cart_4 ";
        grid-template-columns: 6.6fr 130px 1fr 2fr 3.5fr 122px;

        &.__head {
          display: none;
        }

        &.__even {
          background: #fff;
        }

        &.__odd {
          background: $main_gray_light;
        }
      }

      @include respond-to-max($dt) {
        grid-template-areas:
          "item_1 term_1 price_1 total_1 cart_1"
          "item_2 term_2 price_2 total_2 cart_2"
          "item_3 term_3 price_3 total_3 cart_3"
          "item_4 term_4 price_4 total_4 cart_4"
          "item_5 term_5 price_5 total_5 cart_5"
          "item_6 term_6 price_6 total_6 cart_6"
          "item_7 term_7 price_7 total_7 cart_7"
          "item_8 term_8 price_8 total_8 cart_8";
        grid-template-columns: auto 20px 100px 25px 132px;
      }

      @include respond-to-max($tablet) {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        grid-template-areas: unset;
        grid-template-columns: unset;
      }
    }

    &__cell {
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 10px;

      &.__provider {

      }

      &.__item {

      }

      &.__brand {

      }

      &.__available {
        white-space: nowrap;
      }

      &.__multiplicity {
        white-space: nowrap;
      }

      &.__min {
        white-space: nowrap;
      }

      &.__norm {
        white-space: nowrap;
      }

      &.__price {
        text-align: right;

        p {
          padding-right: 10px;
        }
      }

      &.__total {
        text-align: left;
      }

      &.__term {
        text-align: center;
      }

      &.__cart {
        .input {
          padding-right: 40px;
        }
      }

      @include respond-to-max($wide) {

        &.__item,
        &.__provider,
        &.__brand {
          grid-column: 1;
          //align-self: baseline;
        }

        &.__provider {
          grid-row: 2 / 4;
        }

        &.__item {
          grid-row: 1 / 3;

          .search-results__label {
            display: none;
          }
        }

        &.__brand {
          grid-row: 3 / 5;
        }

        &.__available {
          grid-row: 3;
          position: absolute;
          grid-column: 2;
          white-space: nowrap;
          transform: translateY(-300%);
        }

        &.__multiplicity {
          white-space: nowrap;
          transform: translateY(-200%);
          grid-row: 3;
          position: absolute;
          grid-column: 2;
        }

        &.__min {
          grid-row: 3;
          position: absolute;
          white-space: nowrap;
          transform: translateY(-100%);
          grid-column: 2;
        }

        &.__norm {
          grid-row: 3;
          grid-column: 2;
          position: absolute;
          white-space: nowrap;
        }

        &.__price {
          grid-row: 1 / 5;
          grid-column: 4;

          .search-results__label {
            display: block;
            padding-right: 0;
            padding-bottom: 4px;
          }
        }

        &.__total {
          grid-row: 1 / 5;
          grid-column: 5;

          .search-results__label {
            display: block;
            padding-right: 0;
            padding-bottom: 4px;
          }
        }

        &.__term {
          text-align: left;
          grid-row: 1 / 5;
          grid-column: 3;

          span {
            white-space: nowrap;
            display: block;
          }

        }

        &.__cart {
          grid-row: 1 / 5;
          grid-column: 6;
        }
      }

      @include respond-to-max($dt) {
        &.__provider {
          grid-row: 2;
        }

        &.__item {
          grid-row: 1;
        }

        &.__brand {
          grid-row: 3;
        }

        &.__available {
          grid-row: 5;
        }

        &.__multiplicity {
          grid-row: 6;
        }

        &.__min {
          grid-row: 7;
        }

        &.__norm {
          grid-row: 8;
        }

        &.__min,
        &.__norm,
        &.__available,
        &.__multiplicity {
          grid-column: 1;
          position: relative;
          white-space: nowrap;
          transform: none;
          align-self: baseline;
        }

        &.__price {
          grid-row: 1 / 7;
          grid-column: 3;
        }

        &.__total {
          grid-row: 1 / 7;
          grid-column: 4 / 6;
          padding-left: 18px;
        }

        &.__term {
          padding-right: 10px;
          text-align: right;
          grid-row: 8;
          grid-column: 3 / 5;

          span {
            display: unset;
          }
        }

        &.__cart {
          padding-right: 10px;
          grid-row: 8;
          grid-column: 5;
        }
      }

      @include respond-to-max($tablet) {
        display: block;
        text-align: left;
        width: 100%;

        &.__item {
          order: -1;
        }

        &.__item,
        &.__provider,
        &.__brand {
          margin-bottom: 3px;
        }

        &.__norm {
          margin-bottom: 10px;
        }

        &.__price {
          padding-left: 20px;
          width: auto;
          margin-bottom: 15px;
        }

        &.__total {
          margin-right: auto;
          width: 50%;
          margin-bottom: 15px;
        }

        &.__term {
          width: auto;
          padding-right: 0;
          text-align: left;
        }

        &.__cart {
          width: 132px;
        }
      }

      @include respond-to-min($wide) {

        &.__provider {
          width: 12%;
        }

        &.__item {
          width: 15.2%;
        }

        &.__brand {
          width: 10%;
        }

        &.__available {
          text-align: center;
          width: 6.2%;
        }

        &.__multiplicity {
          text-align: center;
          width: 7.5%;
        }

        &.__min {
          text-align: center;
          width: 4.8%;
        }

        &.__norm {
          text-align: center;
          width: 5.2%;
        }

        &.__price {
          width: 8%;
        }

        &.__total {
          width: 13%;
        }

        &.__term {
          width: 7%;
        }

        &.__cart {
          flex: 1 0 112px;
        }
      }
    }

    &__label {
      padding-right: 4px;

      @include respond-to-min($wide) {
        display: none;
      }
    }

  }


}


