$mobile: 300px;
$tablet: 600px;
$dt: 900px;
$wide: 1200px;


$main_blue: #475df4;
$main_blue_light: #7687f9;

$main_gray: #646464;
$main_gray_light: #f7f8fd;
$main_gray_hover: #eff1fb;

$gray_text: #bababa;
$gray_link: #878787;
$gray_border: #dadada;

$form_transition: 1s;
$form_transition_delay: .2s;
