@font-face {
  font-family: 'catpart';
  src:
    url('fonts/catpart.ttf?t5x0ws') format('truetype'),
    url('fonts/catpart.woff?t5x0ws') format('woff'),
    url('fonts/catpart.svg?t5x0ws#catpart') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'catpart' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-call:before {
  content: "\e900";
}
.icon-cart:before {
  content: "\e901";
}
.icon-download:before {
  content: "\e902";
}
